@use "./vars"  as v;
//@import "./global";

$sm: 769px;
$md: 1025px;
$lg: 1200px;

.content {
    display: flex;
}

// button{
//     &.dark{
//         background-color: white;
//         color:black;
//         //color: white;
//     }
// }

h1 {
    font-size: v.$font-size-big;
    font-weight: v.$font-weight-normal;
    line-height: 85px;
    letter-spacing: 0em;
    @media (max-width: $md) {
		font-size: 4.2rem;
		line-height: 4.6rem;
	}
	@media (max-width: $sm) {
		font-size: 3rem;
		line-height: 3.2rem;
	}
}

.main-text {

    font-size: v.$font-size-text;
    font-weight: v.$font-weight-normal;
    line-height: 45px;
    letter-spacing: 0em;
    margin-bottom: 30px;
    @media (max-width: $md) {
		font-size: 1.2rem;
        line-height: 38px;
	}
    @media (max-width: $sm) {
		font-size: 1rem;
        line-height: 32px;
	}
}

.side-title {

    font-size: v.$font-size-title;
    font-weight: v.$font-weight-normal;
    line-height: 3.75rem;
    letter-spacing: 0em;
    text-align: left;
    color: v.$light-mode-title;
    @media (max-width: $md) {
		font-size: 2rem;
		line-height: 2.8rem;
	}
    @media (max-width: $sm) {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}


}

.normal-text{
    
    font-size: v.$font-size-small;
    font-weight: v.$font-weight-normal;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    @media (max-width: $md) {
		font-size: 1rem;
        
	}

}

.content {
    display: flex;
    @media (max-width: $md) {
		display: flex;
        flex-direction: column;
        gap:2rem
	}
}

.left-bar {
    width: 30%;
    @media (max-width: $md) {
        width: 100%;
        
		//flex: 1;
	}
    

}

.right-bar {
    width: 70%;
    @media (max-width: $md) {
        
		width: 100%;;
	}
}

.tab {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #CCCCCC;
    margin-bottom: 51px;
}



.title-2 {
    font-family: Almarai;
    font-size: v.$font-size-60;
    font-weight: v.$font-weight-normal;
    line-height: 70px;
    letter-spacing: 0em;
    margin-bottom: 50px;
    @media (max-width: $md) {
		font-size:3.125rem;
		line-height: 3.5rem;
        
	}
	@media (max-width: $sm) {
		font-size: 2.5rem;
		line-height: 2.8rem;
        
	}

}



.small-text{
    
    font-size: v.$font-size-nav;
    font-weight: v.$font-weight-normal;
    line-height: 40px;
    letter-spacing: 0em;

}

.underline {
    text-decoration: underline;
    color: black;
}

.btn-light {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 1rem 2.18rem;
    font-size: 1rem;
    line-height: 1.1;
    width: 25%;
    text-align: center;
    @media (max-width: $sm) {
        text-align: center;
        font-size: 12px;
        padding: 10px 20px;
		width: 50%;
	}
}

.brand-sm {

    font-size: v.$font-size-xs;
    font-weight: v.$font-weight-lbold;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}


.info-brand-title {
    width: 80%;
    padding-right: 20px;
    font-size: 2.875rem;
    font-weight: v.$font-weight-lbold;
    line-height: 60px;
    margin-bottom: 18px;
    @media (max-width: $md) {
        width: 90%;
        font-size: 1.8rem;
        line-height: 45px;
        margin-bottom: 10px;
    }
    @media (max-width: $sm)  {
        font-size: 1.4rem;
        line-height: 32px;
    }
}

.info-name {
    font-size: 1.125rem;
    line-height: 25px;
    font-weight: v.$font-weight-normal;
    @media (max-width: $sm)  {
        font-size: 0.9rem;
        line-height: 20px;
    }

}

.card-brand {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-brand-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid v.$light-mode-input;

    &:last-child {
        border-bottom: none;
    }
}

.link{
   
    font-size: v.$font-size-small;
    font-weight: v.$font-weight-lbold;
    color:v.$light-mode-title;
    line-height: 22px;
    letter-spacing: 0em;
    @media (max-width: $sm) {
        font-size: 0.8rem;
        
    }
}

.link-list-ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color:v.$light-mode-text;
    @media (max-width: $md) {
        gap:15px
	}
    
}

.link-list-li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid v.$light-mode-title;
    @media (max-width: $md) {
         width: 100%;
     }
    
}
.link-list-a{
    width: 100%;
    line-height: 52px;
    font-size: v.$font-size-lg;
    font-weight: v.$font-weight-normal;
    margin-bottom: 22px;
    color: black;
    &:after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2214%22%20height%3D%2212%22%20viewBox%3D%220%200%2014%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M-2.62268e-07%206C-2.80374e-07%205.58579%200.335786%205.25%200.75%205.25L11.4393%205.25L7.46967%201.28033C7.17678%200.987436%207.17678%200.512562%207.46967%200.21967C7.76256%20-0.0732235%208.23744%20-0.0732235%208.53033%200.21967L13.7803%205.46967C14.0732%205.76256%2014.0732%206.23744%2013.7803%206.53033L8.53033%2011.7803C8.23744%2012.0732%207.76257%2012.0732%207.46967%2011.7803C7.17678%2011.4874%207.17678%2011.0126%207.46967%2010.7197L11.4393%206.75L0.75%206.75C0.335786%206.75%20-2.44162e-07%206.41421%20-2.62268e-07%206Z%22%20fill%3D%22%23F89B3A%22%2F%3E%3C%2Fsvg%3E');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.link-list-p{
    width: 80%;
    
    @media (max-width: $md) {
       // background-color:rgb(222, 135, 218) ;
		font-size: 2rem;
        line-height:44px;
        margin-bottom: 10px;
	}
    @media (max-width: $sm) {
		font-size: 1.5rem;
		line-height: 30px;
        margin-bottom: 10px;
        //color:red;
	}

    
   
}

.dark{
    color:white;

}
