// Colors
$dark-mode-bg: hsl(207, 26%, 17%);
$dark-mode-elements: hsl(209, 23%, 22%);
$light-mode-btn-text: #ffffff;
$light-mode-bg: #000000;
$light-mode-title: #949494;
$light-mode-s:#757575;
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-text: #000000;
$light-mode-nav: #BCBCBC;
$all-mode-orange: #F89B3A;
$light-mode-gray: #F6F5F3;
$light-mode-footer: #BDBDBD;




// Font
$font-size-title: 36px;
$font-size-text: 24px;
$font-size-small: 20px;
$font-size-xs:14px;
$font-size-nav:16px;
$font-size-lg: 46px;
$font-size-big:80px;
$font-size-60:60px;
$font-weight-normal: 300;
$font-weight-lbold: 400;
$font-weight-extra-bold: 800;

// Left
$margin-left-section:133px;