.section4-1{
    .container{
        .content{
            margin-bottom: 8rem;
            a{
                color: black;
            }
            .btn-light{
                margin-top: 4rem;
            }
        }
    }
}

.section4-2{
    .container{
        .content{
            margin-bottom: 8rem;
        }
    }
}

