.section3-1{
    .container{
        .wrapper{
            margin-bottom: 52px;
            h1{
                max-width: 50%;
                text-align: left;
                margin-bottom: 23px;
                border-bottom: 1px solid #949494;
            }
            .person-info{
                display: flex;
                align-items: center ;
                gap: 140px;
                img{
                    max-width: 50%;
                }
               
                .social-info {
                    ul {
                      li {
                        position: relative;
                        width: 255px;
                        height: 33px;
                        margin-bottom: 34px;
                  
                        &:before {
                          content: "";
                          position: absolute;
                          top: 8px;
                          left: -30px;
                          width: 21px;
                          height: 21px;
                          background-size: cover;
                          background-repeat: no-repeat;
                          background-position: center center;
                        }
                        &.phone:before {
                            background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M2.67962 1.84669L3.81921 0.707107C4.20973 0.316583 4.8429 0.316582 5.23342 0.707106L8.24026 3.71395C8.63079 4.10447 8.63079 4.73763 8.24026 5.12816L6.18474 7.18368C5.8544 7.51402 5.7725 8.01869 5.98143 8.43655C7.18921 10.8521 9.14789 12.8108 11.5635 14.0186C11.9813 14.2275 12.486 14.1456 12.8163 13.8153L14.8718 11.7597C15.2624 11.3692 15.8955 11.3692 16.2861 11.7597L19.2929 14.7666C19.6834 15.1571 19.6834 15.7903 19.2929 16.1808L18.1533 17.3204C16.042 19.4317 12.6994 19.6693 10.3107 17.8777L8.26015 16.3398C6.51662 15.0322 4.9678 13.4834 3.66015 11.7399L2.12226 9.68933C0.330722 7.30061 0.568273 3.95804 2.67962 1.84669Z" fill="black"/></svg>');
                          }
                    
                          &.mail:before {
                            background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M8.57839 10.3597L3.95951 8.82011C1.6063 8.0357 0.429688 7.6435 0.429688 6.92274C0.429688 6.20198 1.60629 5.80978 3.95951 5.02538L17.216 0.60656C18.8717 0.0546299 19.6996 -0.221335 20.1367 0.215681C20.5737 0.652697 20.2977 1.48059 19.7458 3.13638L15.327 16.3928C14.5426 18.746 14.1504 19.9227 13.4296 19.9227C12.7088 19.9227 12.3166 18.746 11.5322 16.3928L9.9926 11.7739L15.4002 6.36633C15.7907 5.97581 15.7907 5.34264 15.4002 4.95212C15.0097 4.56159 14.3765 4.56159 13.986 4.95212L8.57839 10.3597Z" fill="black"%3E%3C/path%3E%3C/svg%3E');
                          }
                        &.twitter:before{
                            background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20"><path d="M0 17.7798C1.7958 17.9501 3.51438 17.686 5.15859 16.9429C5.90348 16.6064 6.59614 16.1812 7.23316 15.6513C6.82551 15.6148 6.42581 15.5644 6.0352 15.4532C5.64572 15.3426 5.27441 15.1885 4.92241 14.9858C4.56699 14.7808 4.23997 14.5358 3.9436 14.2485C3.65008 13.9647 3.39402 13.649 3.176 13.3015C2.95628 12.9511 2.78028 12.5798 2.64629 12.1628C2.70136 12.1663 2.74338 12.1657 2.78369 12.1727C3.44001 12.2827 4.09065 12.2497 4.73562 12.091C4.76911 12.0829 4.80091 12.0684 4.83384 12.047C3.34065 11.678 2.20742 10.8295 1.47275 9.45164C1.0793 8.71317 0.897615 7.91794 0.895912 7.05321C1.25473 7.24145 1.60787 7.39435 1.97975 7.49687C2.34765 7.59823 2.72123 7.65846 3.10844 7.65904C1.67089 6.5748 0.916351 5.14015 0.940765 3.30933C0.95212 2.4695 1.17808 1.6847 1.59425 0.939859C3.55299 3.32902 5.98297 4.94843 8.92335 5.75351C9.86525 6.01125 10.8242 6.16242 11.8166 6.20759C11.8024 6.11898 11.7922 6.04716 11.7791 5.9765C11.2875 3.29137 12.9623 0.726717 15.5087 0.142314C17.2914 -0.266594 18.8522 0.210658 20.1665 1.50978C20.2262 1.56886 20.2761 1.59666 20.3658 1.57697C21.3776 1.35919 22.3325 0.990248 23.233 0.473611C23.271 0.451602 23.3096 0.43133 23.3755 0.39542C23.355 0.460869 23.3442 0.501412 23.3301 0.540797C22.9451 1.60535 22.282 2.44344 21.352 3.06317C21.3168 3.08692 21.2822 3.11182 21.2532 3.14947C22.2042 3.04985 23.1126 2.79443 24 2.40984C23.9949 2.4666 23.9614 2.4973 23.9381 2.53147C23.3164 3.43733 22.5721 4.22213 21.7 4.87893C21.6103 4.9467 21.5831 5.01446 21.5893 5.12509C21.6183 5.62609 21.5967 6.12651 21.5621 6.62635C21.5019 7.49282 21.3617 8.34538 21.1459 9.18463C20.5333 11.5616 19.4398 13.678 17.8132 15.4961C15.9538 17.5754 13.6766 18.9405 10.9922 19.5967C10.3654 19.7502 9.7307 19.8504 9.09027 19.9222C8.32324 20.008 7.55394 20.0155 6.7869 19.9802C5.05696 19.9002 3.39913 19.4907 1.8151 18.7743C1.22578 18.5079 0.656889 18.2009 0.109008 17.8545C0.0721045 17.8314 0.0363361 17.8065 0 17.7827L0 17.7798ZM13.3234 17.9536C13.3331 17.9536 13.3427 17.9541 13.3524 17.9547C13.3512 17.935 13.3495 17.9153 13.3484 17.8951C13.3416 17.8951 13.3348 17.8951 13.328 17.8951C13.3263 17.9148 13.3246 17.9339 13.3229 17.9536H13.3234Z" fill="black"/></svg>');
                        }
            }
    
        }
    }
            }
        }
    }
}

.section3-2{
    .container{
        .content{
            margin-bottom: 9.25rem;
        }
    }
}

.section3-3{
    .container{
        .content{
            margin-bottom: 16rem;
        }
    }
}